# El índice en series temporales

El índice en series temporales, facilita la identificación, ordenación y análisis de tus datos, convirtiéndose en un elemento crucial en el manejo de series temporales.

Conoce la manera en que el índice se transforma en un aliado  para la manipulación de datos cronológicamente estructurados. A lo largo de este notebook, aprenderemos a configurar el índice en Pandas, en específico con series temporales. Esto nos abre la puerta a realizar operaciones complejas como el filtrado por intervalos de tiempo y el estudio de patrones estacionales. Experimenta la transformación que el índice en Pandas puede aportar a tu metodología de análisis de series temporales.

In [ ]:
import pandas as pd

In [ ]:
f = "../data/Cuernavaca_To_1dia_comas.csv"
cuerna = pd.read_csv(
    f
)
cuerna.head()

                tiempo    To
0  2012-01-01 00:00:00  19.3
1  2012-01-01 01:00:00  18.6
2  2012-01-01 02:00:00  17.9
3  2012-01-01 03:00:00  17.3
4  2012-01-01 04:00:00  16.6

In [ ]:
cuerna.index

RangeIndex(start=0, stop=24, step=1)

In [ ]:
f = "../data/Cuernavaca_To_1dia_comas.csv"
cuerna = pd.read_csv(
    f,
    index_col=0,
    parse_dates=True
)
cuerna.head()

                       To
tiempo
2012-01-01 00:00:00  19.3
2012-01-01 01:00:00  18.6
2012-01-01 02:00:00  17.9
2012-01-01 03:00:00  17.3
2012-01-01 04:00:00  16.6

In [ ]:
cuerna.index # comentar que podrian ser solo dias

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 03:00:00',
               '2012-01-01 04:00:00', '2012-01-01 05:00:00',
               '2012-01-01 06:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               '2012-01-01 10:00:00', '2012-01-01 11:00:00',
               '2012-01-01 12:00:00', '2012-01-01 13:00:00',
               '2012-01-01 14:00:00', '2012-01-01 15:00:00',
               '2012-01-01 16:00:00', '2012-01-01 17:00:00',
               '2012-01-01 18:00:00', '2012-01-01 19:00:00',
               '2012-01-01 20:00:00', '2012-01-01 21:00:00',
               '2012-01-01 22:00:00', '2012-01-01 23:00:00'],
              dtype='datetime64[ns]', name='tiempo', freq=None)

In [ ]:
cuerna.resample("D").mean() # veremos mas operaciones

                   To
tiempo
2012-01-01  18.604167