# Lectura de archivos XLSX

¿Quieres aprender a leer tus datos de una hoja de cálculo? En esta sesión, exploraremos la función **pd.read_excel()**, una herramienta fundamental para importar datos de archivos XLSX en Pandas. Descubre cómo *pd.read_excel()* simplifica la carga de datos Excel, ofreciendo opciones flexibles para controlar la lectura de datos y preparar el terreno para el análisis de datos efectivo en Pandas. 

Si buscas tener un control detallado sobre la importación de tus datos de Excel, *pd.read_excel()* es la herramienta que necesitas. Con sus capacidades avanzadas, puedes especificar exactamente qué hojas importar, cómo manejar las fechas, y ajustar numerosas opciones para afinar el proceso de carga. Esto te permite no solo simplificar la importación de datos sino también asegurar que la preparación de tus datos esté perfectamente alineada con las necesidades de tu análisis avanzado en Pandas.

In [ ]:
import pandas as pd

In [ ]:
f = "../data/Cuernavaca_To_1dia_comas.xlsx"
cuerna = pd.read_excel(f)
cuerna.head()

               tiempo    To
0 2012-01-01 00:00:00  19.3
1 2012-01-01 01:00:00  18.6
2 2012-01-01 02:00:00  17.9
3 2012-01-01 03:00:00  17.3
4 2012-01-01 04:00:00  16.6

In [ ]:
f = "../data/Cuernavaca_To_1dia_comas.xlsx"
cuerna = pd.read_excel(f,index_col=0) #explorar opciones de read_excel
cuerna.head()

                       To
tiempo
2012-01-01 00:00:00  19.3
2012-01-01 01:00:00  18.6
2012-01-01 02:00:00  17.9
2012-01-01 03:00:00  17.3
2012-01-01 04:00:00  16.6

In [ ]:
cuerna.index # resalta que se importa como datetime porque asi estaba declarada en el excel

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 03:00:00',
               '2012-01-01 04:00:00', '2012-01-01 05:00:00',
               '2012-01-01 06:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               '2012-01-01 10:00:00', '2012-01-01 11:00:00',
               '2012-01-01 12:00:00', '2012-01-01 13:00:00',
               '2012-01-01 14:00:00', '2012-01-01 15:00:00',
               '2012-01-01 16:00:00', '2012-01-01 17:00:00',
               '2012-01-01 18:00:00', '2012-01-01 19:00:00',
               '2012-01-01 20:00:00', '2012-01-01 21:00:00',
               '2012-01-01 22:00:00', '2012-01-01 23:00:00'],
              dtype='datetime64[ns]', name='tiempo', freq=None)